<nav>
    <div class="site-title">
        <a href="/">
            <h1>Ninja Blogs </h1>
        </a>
        <p>Ninja sites</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blogs</a></li>
    </ul>
</nav>