<html lang="en">

<%- include('./partials/head.ejs')%>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores qui a ipsa nulla reprehenderit odio dolorum officia animi exercitationem sunt deleniti, harum accusantium libero similique quia tenetur voluptatibus facilis. Beatae?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores qui a ipsa nulla reprehenderit odio dolorum officia animi exercitationem sunt deleniti, harum accusantium libero similique quia tenetur voluptatibus facilis. Beatae?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores qui a ipsa nulla reprehenderit odio dolorum officia animi exercitationem sunt deleniti, harum accusantium libero similique quia tenetur voluptatibus facilis. Beatae?</p>
    </div>
</body>
<%- include('./partials/footer.ejs')%>
</html>